@page "/test/table"

<div style="border: 1px solid black; width: 200px; height: 200px">
    <h1>My Window Component</h1>
    <button>Click Me</button>
</div>

@code {
    //[Parameter] public CustomComponentModel Model { get; set; }

    //public static RenderFragment Create(CustomComponentModel model)
    //{
    //    return @<CustomComponent Model="@model"/>;
    //}
}
